<div class="card mb-5 articleInfo">
  <img class="card-img-top" [src]="urlImg" [alt]="textAltImage">
  <div class="card-body">
    <h5 class="card-title">{{titreArticle}}</h5>
    <h6 class="card-title">{{prixArticle}} €</h6>
    <p class="card-text">Une description</p>

    <button (click)="onLike()" class="btn btn-primary">J'aime</button>
    <p>Nombre de like {{totalNbrLike}}</p>

    <input type="text" placeholder="Ecrivez votre texte" [(ngModel)]="comment">
    <p>Commentaire :  {{ comment }}</p>
  </div>
</div>
